/* Copyright
---------------------------------------------------------------------------------- */

/*
cssg

	copy
		copy_i +

*/

.copy {
	font-size: $fs-s;
    text-align: center;
	}

.copy_i {
	display: block;

	@media (--s){
		display: inline;
		}
	}

/* /Copyright
---------------------------------------------------------------------------------- */