/* Footer
---------------------------------------------------------------------------------- */

/*
cssg

	footer
		<copy>
*/

.footer {
	padding: $grid-2 0;

	background: $c-lighter;
	color: $c-white;
	}

/* /Footer
---------------------------------------------------------------------------------- */